
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="common/head :: htmlhead" th:with="title='favorites'">
<body>
<div id="toolbar">
    <form>

    </form>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" class="form-control"  name="name">
                </div>
                <div class="form-group">
                    <label>别名</label>
                    <input type="text" class="form-control" name="alias ">
                </div>
                <div class="form-group">
                    <label>出生时间</label>
                    <div class="input-append date form_datetime">
                        <input type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>专长</label>
                    <input type="text" class="form-control" name="expertise">
                </div>
                <div class="form-group">
                    <label>范畴</label>
                    <input type="text" class="form-control" name="category">
                </div>
                <div class="form-group">
                    <label>职级</label>
                    <input type="text" class="form-control" name="rank">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
            </div>
        </div>
    </div>
</div>
<table id="userTable"></table>

</body>
<script>
    $(function () {
        InitMainTable();
        $('.form_datetime').datetimepicker({
            format: "dd MM yyyy - hh:ii"
        });
        $("#myModal").modal();
        // toastr.options.positionClass = 'toast-top-center';
        // toastr.warning('warning');
        // toastr.info('info');
        // toastr.success('success');
        // toastr.error('error');
    });
    var $table;
    function InitMainTable () {
        var queryUrl = '/user/userList';
        $table = $('#userTable').bootstrapTable({
            url: queryUrl,                      //请求后台的URL（*）
            method: 'post',                      //请求方式（*）
            toolbar: '#toolbar',              //工具按钮用哪个容器
            striped: false,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: true,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
            pageSize: 15,                     //每页的记录行数（*）
            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
            search: false,                      //是否显示表格搜索
            strictSearch: false,
            showColumns: true,                  //是否显示所有的列（选择显示的列）
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
            showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                  //是否显示父子表
            //得到查询的参数
            queryParams : function (params) {
                //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
                var temp = {
                    rows: params.limit,                         //页面大小
                    page: (params.offset / params.limit) + 1,   //页码
                    sort: params.sort,      //排序列名
                    sortOrder: params.order //排位命令（desc，asc）
                };
                return temp;
            },
            columns: [{
                checkbox: true,
                visible: true                  //是否显示复选框
            }, {
                field: 'id',
                title: 'Id',
                sortable: true
            },{
                field: 'name',
                title: '姓名',
                align: 'center',
                sortable: true
            }, {
                field: 'alias',
                align:'center',
                title: '别名',
            }, {
                field: 'sex',
                title: '性别',
                align:'center',
                formatter: fmSex
            },  {
                field: 'BirthDate',
                align:'center',
                title: '出生日期',
            }, {
                field: 'Note',
                align:'center',
                title: '专长'
            }, {
                title: '操作',
                align: 'center',
                valign: 'middle',
                formatter: addFunctionAlty
            }, ],
            onLoadSuccess: function () {
            },
            onLoadError: function () {

            },
            onDblClickRow: function (row, $element) {
                var id = row.ID;

            },
        });
    };
    function fmSex(value) {
        var text="男";
        if (value==0){
            text="女";
        }
        return  "<div style='color: green'>"+text+"</div>";
    }
    function linkFormatter(value) {
        return "<a href='" + value + "' title='单击打开连接' target='_blank'>" + value + "</a>";
    }

    function addFunctionAlty() {
        return [
            '<button type="button" id="btn_edit" class="btn btn-default" data-toggle="modal" data-target="#ModalInfo">修改</button>  ',
            '<button id="btn_delete" class="btn btn-warning">删除</button>'
        ].join('');
    }


</script>
</html>