<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sham.wxplat.mapper.WxsMenuMapper">
  <resultMap id="BaseResultMap" type="com.sham.wxplat.model.WxsMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parentId" jdbcType="INTEGER" property="parentid" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="menuKey" jdbcType="VARCHAR" property="menukey" />
    <result column="msgType" jdbcType="VARCHAR" property="msgtype" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="templateId" jdbcType="VARCHAR" property="templateid" />
    <result column="mediaid" jdbcType="VARCHAR" property="mediaid" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="createdBy" jdbcType="INTEGER" property="createdby" />
    <result column="createdAt" jdbcType="INTEGER" property="createdat" />
    <result column="updatedBy" jdbcType="INTEGER" property="updatedby" />
    <result column="updatedAt" jdbcType="INTEGER" property="updatedat" />
  </resultMap>
</mapper>